@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Antic Slab', serif;
}

h1 {
  margin: 15px;
  letter-spacing: 1.3px;
  text-align: center;
}